<h1 style="text-align: center;">Tasks</h1>
<br>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="New Tasks" 
                aria-label="Please Add Tasks" aria-describedby="button-addon2" [(ngModel)]="newTodo">
        <button class="btn btn-outline-secondary btn-primary" type="button" 
                  id="buttun-addon2" style="color: white;"(click)="saveTodo()">Add</button>
      </div>
      <div style="text-align: right;">
        <button type="button" class="btn btn-outline-warning"(click)="clearCompleted()">Clear Completed</button>
        <button type="button" class="btn btn-outline-danger"(click)="clearAll()">Clear All</button>
      </div>
      <br>
      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let todo of todos;let i = index;">
            <th scope="row">{{i+1}}</th>
            <td class="{{(todo.IsCompleted)?'':'done'}}" (click)="done(i)">{{todo.name}}</td>
            <button type="button" class="btn btn-danger" style="color: red; font-weight: bold;"(click)="remove(i)">X</button>
          </tr>
      </table>
      </div>
    </div>
  </div>